# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# other
.cproject
.dep/
.project
.settings/
*.layout
*.cbp
*.depend
*.txt
*.raw
*.cpp.save
*.cpp.cbp
*.cpp.cbp.save
*.cpp.depend
*.h.save
*.main.cpp.save


# make and build files
*.lst
*.eep
*.lss
*.map
*.sym